<div class="account-wrapper">
  <div class="account">
    <mat-card>
      <mat-card-title>
        <div class="text-center pb-1">
          Forgot Password
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="ntx_login_content">
          <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword()">
            <div class="login_logo text-center">
              <img src="../../../assets/images/logo.png">
            </div>
            <div class="login_field">
              <div class="text-center pb-1">
                <p class="mat-text-muted">Enter your email and we'll send you instructions on how to reset your
                  password.</p>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around">
                <div class="pb-1">
                  <mat-form-field>
                    <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="emailId" #emailInput="ngModel"
                      required appEmailValidate>
                  </mat-form-field>
                  <div *ngIf="emailInput.touched && emailInput.invalid">
                    <small class="mat-text-warn" *ngIf="emailInput?.errors.required">Email is required.</small>
                    <small class="mat-text-warn" *ngIf="emailInput?.errors.appEmailValidate && !emailInput?.errors.required">Email
                      is
                      not valid.</small>
                  </div>
                </div>
                <button mat-raised-button color="warn" type="submit" [disabled]="forgotPasswordForm.form.invalid">Reset
                  Password</button>
                <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showLoader"></mat-progress-bar>
              </div>
              <div class="pt-1 pb-1 text-center">
                <a [routerLink]="['/login']">Go back to login?</a>
              </div>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>