<div class="account-wrapper">
  <div class="account">
    <mat-card>
      <mat-card-title>
        <div class="text-center pb-1">
          Reset Password
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="ntx_login_content">
          <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
            <div class="login_logo text-center">
              <img src="../../../assets/images/logo.png">
            </div>
            <div class="login_field">
              <div fxLayout="column" fxLayoutAlign="space-around">
                <div>
                  <mat-form-field>
                    <input matInput [type]="passwordShow1 ? 'password' : 'text'" placeholder="Password" name="password"
                      [(ngModel)]="password" #passwordInput="ngModel" appPasswordValidate required>
                    <mat-icon matSuffix class="cursor-pointer" (click)="passwordShow1 = !passwordShow1">{{passwordShow1
                      ? 'visibility' :
                      'visibility_off'}}</mat-icon>
                  </mat-form-field>
                  <div *ngIf="passwordInput.touched && passwordInput.invalid">
                    <small class="mat-text-warn" *ngIf="passwordInput?.errors.required">Password is required.</small>
                    <small class="mat-text-warn" *ngIf="passwordInput?.errors.appPasswordValidate">Password must
                      containt 8
                      characters, capital letters, lowercase, numbers and special character.</small>
                  </div>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput [type]="passwordShow2 ? 'password' : 'text'" placeholder="Confirm Password" id="confirmPassword"
                      Equalvalidate="password" [(ngModel)]="confirmPassword" name="confirmPassword"
                      #confirmPasswordInput="ngModel" required>
                    <mat-icon matSuffix class="cursor-pointer" (click)="passwordShow2 = !passwordShow2">{{passwordShow2
                      ? 'visibility' :
                      'visibility_off'}}</mat-icon>
                  </mat-form-field>
                  <div *ngIf="confirmPasswordInput.touched && confirmPasswordInput.invalid">
                    <small class="mat-text-warn" *ngIf="passwordInput?.errors.required">Password is required.</small>
                    <small class="mat-text-warn" [hidden]="confirmPasswordInput.valid || confirmPasswordInput.pristine">
                      Password mismatch
                    </small>
                  </div>
                </div>
                <button mat-raised-button color="warn" type="submit" [disabled]="resetPasswordForm.form.invalid">Save</button>
                <mat-progress-bar mode="indeterminate" color="warn" *ngIf="showLoader"></mat-progress-bar>
              </div>
              <div class="pt-1 pb-1 text-center">
                <a [routerLink]="['/login']">Go back to login?</a>
              </div>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>