<mat-nav-list appAccordion class="navigation">
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuService.getAll()">
        <a appAccordionToggle class="relative" routerLink={{router.parseUrl(menuitem.state)}} *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a appAccordionToggle class="relative" href="{{menuitem.state}}" *ngIf="menuitem.type === 'extLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name}}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a appAccordionToggle class="relative" href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name}}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a appAccordionToggle class="relative" href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name}}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
        </a>
        <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
            <mat-list-item *ngFor="let childitem of menuitem.children" class="child-padding admin-list-item" [disableRipple]="true" [ngClass]="checkForActive(childitem)">
                <a *ngIf="childitem.type !== 'link' && childitem.type !== 'extLink'" routerLinkActive="open" [routerLink]="['/', menuitem.state, childitem.state ]">
                {{childitem.state.name}}</a>
        
                <a *ngIf="childitem.type === 'link'" routerLinkActive="open" [routerLink]="[childitem.state]" class="item-child-color">
                  <mat-icon class="icon-padding">{{childitem.icon}}</mat-icon>
                  <span>{{childitem.name}}</span>
                  <span fxFlex></span>
                  <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                </a>
        
                <a attr.href="{{ childitem.state }}" target="_blank" *ngIf="childitem.type == 'extLink'" class="item-child-color">
                  <mat-icon class="icon-padding">{{ childitem.icon }}</mat-icon>
                  <span>{{ childitem.name}}</span>
                  <span fxFlex></span>
                  <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                </a>
              </mat-list-item>
        </mat-nav-list>
    </mat-list-item>
</mat-nav-list>